body{
    width:95%;
    margin:12px auto;
}
ul{
    width:93%;
    padding:0;
    margin:auto;
    list-style: none;
    background-color: rgb(232, 231, 231);
    border:3px solid rgb(114, 113, 113);
    border-radius:22px;
    padding:12px;
}
li:first-child{
    border-bottom: dotted 3px rgb(177, 176, 176);
    display:flex;
    flex-wrap:wrap;
    font-size:18px;
}
#edit{
    margin-left:auto;
    margin-right:12px;
    cursor:pointer;
    padding:4px 18px;
    background-color: rgb(177, 176, 176);
    border-radius: 12px;
}
li span:first-child{
    overflow: scroll;
}
li:last-child{
    font-size:18px;
    margin-top:12px;
    white-space: pre-wrap;
    overflow: scroll;
}
li:last-child::-webkit-scrollbar ,
li span:first-child::-webkit-scrollbar{
    display:none;
}
input[type="text"]{
    width:66%;
    border:none;
    padding:6px;
    font-size:18px;
    border-radius:6px;
}
textarea{
    margin-top:8px;
    resize: none;
    width:97%;
    height:360px;
    border:none;
    font-size: 18px;
    border-radius: 8px;
}
#save{
    margin-left:auto;
    margin-right:16px;
}
#save , #cansel{
    padding:4px 12px;
    border-radius: 50%;
    background-color: rgb(129, 128, 128);
    opacity:0.5;
    cursor:pointer;
}
#save:hover , #cansel:hover{
    opacity:1;
}
.btnNone{
    display:none;
}
