header , main{
    margin:12px auto;
    width:95%;
}
header{
    text-align: center;
}
input{
    width:95%;
    font-size:18px;
    border:2px solid #d2cbcb;
    border-radius: 6px;
}
input:hover{
    border:2px solid #8f8e8e;
}
ul{
    width:95%;
    list-style: none;
    padding:0;
    margin:auto;
}
li{
    border:3px solid rgb(160, 160, 160);
    padding:4px 6px 8px 6px;
    border-radius: 12px;
    margin-bottom:12px;
}
#title{
    display:flex;
    font-size: 28px;
    background: linear-gradient(transparent 80%, rgb(204, 203, 203) 30%);
}
#title span:nth-child(2){
    margin-left:auto;
    margin-right:12px;
    font-size:30px;
    line-height: 39px;
    cursor: pointer;
}
#title span:last-child{
    margin-right:8px;
    font-size:26px;
    line-height: 39px;
    font-weight: bold;
    cursor: pointer;
}
#comment{
    height:54px;
    position: relative;
    font-size:18px;
    margin-top:8px;
    display:none;
    white-space: pre-wrap;
}
#comment span:last-child{
    position:absolute;
    font-size:16px;
    padding:6px 26px;
    background-color: rgb(170, 169, 169);
    border-radius:12px;
    text-align: center;
    cursor: pointer;
    opacity: 0.3;
}
#comment span:last-child:hover{
    opacity:1;
}
#comment #editBtn{
    top:0;
    right:4px;
}